<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="styles.css"/>       
        <link href="https://fonts.googleapis.com/css?family=Bungee Shade" rel="stylesheet"/>
        <title>{{title}}</title>     
    </head>
<body>
    

<!------------------HEADER------------------>  
<div id='page' class='site'>
    <header id='masthead' role='banner'>
        <nav id="site-navigation" role="navigation">
                <div id="menu-primary">
                    <div id="Home" class="menu-item">
                        <a href='/login'>
                        <button> 
                            <span>LOG IN</span>
                        </button>
                        </a>
                    </div>
                    <div id="Home" class="menu-item">
                        <a href='/register'>
                        <button> 
                            <span>SIGN UP</span>
                        </button>
                        </a>
                    </div>
                    <div id="Home" class="menu-item">
                        <a href='/blog'>
                        <button> 
                            <span>MAIN PAGE</span>
                        </button>
                        </a>
                    </div>
                    <div id="Posts" class="menu-item">
                        <a href='/newpost'>
                        <button> 
                            <span>CREATE</span>
                        </button>
                        </a>
                    </div>
                    <div id="Logout" class="menu-item">
                        <a href='/logout'>
                        <button> 
                            <span>LOG OUT</span>
                        </button>
                        </a>
                    </div>
                </div>
            </nav>
        <div class="site-branding">
            <h1 id="site-title">Build-a-Blog</h1>
            <div class='site-description-box'>
            <h2 id="site-description">DATA + BASE + BLOG</h2>
        </div>


    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class='{{category}}'>{{ message }}</li>
        {% endfor %}
        </ul>   
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
    <foot>
        <h2 id='foot'>&copy; 2017 </h2>
   </foot>
</html>