<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="styles.css"/>       
        <link href="https://fonts.googleapis.com/css?family=Bungee Shade" rel="stylesheet"/>
        <title>{{title}}</title>
        <style>
            
        </style>       
    </head>
<body>


<!------------------HEADER------------------>  
<div id='page' class='site'>
    <header id='masthead' role='banner'>
        <nav id="site-navigation" role="navigation">
                <div id="menu-primary">
                    <div id="Home" class="menu-item">
                        <a href='/'>
                        <button> 
                            <span>MAIN PAGE</span>
                        </button>
                        </a>
                    </div>
                    <div id="Posts" class="menu-item">
                        <a href='/newpost'>
                        <button> 
                            <span>CREATE BLOG</span>
                        </button>
                        </a>
                    </div>
                </div>
            </nav>
        <div class="site-branding">
            <h1 id="site-title">Build-a-Blog</h1>
            <h2 id="site-description">DATA + BASE + BLOG</h2>
        </div>
        
    </header>


    {% block content %}
    {% endblock %}

</body>

</html>