{% extends 'base.html' %}

{% block content %}

    <!------------------BLOGS VIEW------------------>  
    <div id='blogs-showing' class='container'>
        <h2 id='new-blogs'>NEW BLOGS</h2>
        {% if blogged|length == 0 %}
        <p id='no-blogs'>NO ENTRIES YET</p>
        {% else %}
            <ul>
                {% for blog in blogged %}
                <li id='blogtitles'><a href='/page?id={{blog.id}}'>{{blog.blogtitle}}</li></a>
                </form>
                <br>
                <li id='blogbody'>{{blog.blogtext}}</li>
                <li>
                    <a href='/user?user={{blog.owner.id}}'>{{blog.owner.username}}</li>
                </li>

                
                <br>
                <br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}