{% extends 'base.html' %}

{% block content %}

    <!------------------BLOGS VIEW------------------>  
    <div id='blogs-showing' class='container'>
        <h2 id='new-blogs'>NEW BLOGS</h2>
        {% if tasks|length == 0 %}
        <p id='no-tasks'>NO ENTRIES YET</p>
        {% else %}
            <ul>
                {% for task in tasks %}
                <li id='blogtitles'>{{task.blogtitle}}</li>
                    <input type='hidden' name='task-id' value='{{task.id}}' />
                </form>
                <br>
                <li id='blogbody'>{{task.blogtext}}
                    <br>
                    <form method='POST' action='/delete-blog' style='display:inline-block;'>
                        <input type='hidden' name='task-id' value='{{task.id}}' />
                        <input type='submit' id='Done' value='Remove!' />                    
                    </form> 
                </li>
                <br>
                <br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}