{% extends "base.html" %}

{% block content %}
<div id='register' class='container'>
<h2 id='register_head'>LOGIN</h2>
<p>If you don't have an account, you may <a href="/register">register</a> for one</p>
<form action="/login" method="post">
    <div class='registerfield'>
        <label class='label' for="username">Username:</label>
        <input id='titlebox' class='register_inputs' name="username" type="text" value="{{ username }}">
        <p class='error'>{{ username_error }}</p>
    </div>
    <div class='registerfield'>
        <label class='label' for="password">Password:</label>
        <input id='titlebox' class='register_inputs' name="password" type="password" value="{{ password }}">
        <p class='error'>{{ password_error }}</p>       
    </div>
    <input class='submit' type="submit" value="Login">
</form>
</div>
{% endblock %}