{% extends "base.html" %}

{% block content %}
<div id='register' class='container'>
    
<h2 id='register_head'>REGISTER</h2>
<form action="/register" method="post">
    <div  class='registerfield'>
        <label class='label' for="username">Username:</label>
        <input id='titlebox' class='register_inputs' name="username" type="text" value="{{ username }}">
        <p class='error'>{{ username_error }}</p>
    </div>
    <div class='registerfield'> 
        <label class='label' for="password">Password:</label>
        <input id='titlebox' class='register_inputs' name="password" type="password" value="{{ password }}">
        <p class='error'>{{ password_error }}</p>       
    </div>
    <div  class='registerfield'>
        <label class='label' for="verify">Verify Password:</label>
        <input id='titlebox' class='register_inputs' name="verify" type="password" value="{{ verify }}">
        <p class='error'>{{ verify_error }}</p>
    </div>

    <input class='submit' type="submit" value="Register">
     
</form>

</div>
{% endblock %}

<!-------GIT TEST ----->